# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries


# Fortran module files
*.mod
*.smod

# Compiled Static libraries


# Executables
*.exe
*.out
*.app

UbiGame/x64

Ubigame.VC.VC.opendb
Ubigame.VC.db


.vs

*.suo
*/Browse.VS.db
*/PLAYERMOVENMEN
*.log
*.pdb
*.iobj
*.ipdb
*.vcxproj
